/**
 * Heading styles with the 'heading' class applied, and default headings in editable WYSIWYG areas
 *
 * @section Headings
 * @example
 * _headings.hb
*/

// Rely on classes for styling headings
// Heading elements <h1> through <h6> have been reset in _baseline.scss
.heading {
  font-family: fontStack(heading);
  font-weight: bold;

  &:first-child { margin-top: 0; }

  // Loop through $fontSize map and create classes for font-size
  @each $name, $value in $font_size {
    &--#{$name} { font-size: $value; }
  }

  a {
    color: inherit;
    text-decoration: none;

    &:hover { text-decoration: underline; }
  }
}
