// Collection of normalizations, resets, and opinionated defaults

// All elements inherit box-sizing from parent unless otherwise specified
// More info: http://bit.ly/1Gyjp0d
*,
*:before,
*:after { box-sizing: inherit; }

// 1. Remove default margin
// 2. Prevent older browsers from resizing past the site width
body {
  margin: 0; // 1
  min-width: (siteLayout(width) + (siteLayout(padding) * 2)); // 2

  @media only screen and (min-width: 0) { min-width: 0; }
}

// Remove subpixel rendering for better fonts in Chrome
html,
body,
button { -webkit-font-smoothing: antialiased; }

// 1. Set <html> to border-box for universal inheritance above
// 2. Prevent devices from adjusting text size without disabling user zoom
html {
  -moz-box-sizing: border-box; // 1
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-text-size-adjust: 100%; // 2
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

// Remove text shadow from selected text
::-moz-selection { text-shadow: none; }
::selection { text-shadow: none; }

// Correct display for hidden attribute in IE 9+
// Correct display for <template> in IE 9+, Safari and Firefox < 22
[hidden],
template {
  display: none;
  visibility: hidden;
}

// Reset heading styles
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: normal;
  line-height: 1.1;
  margin: 1em 0;
}

// Correct styling in IE 9+, Safari and Chrome
abbr[title] {
  border-bottom: 1px dotted;
  text-decoration: none;
}

// Correct duplicate application of `bolder` in Safari 6
b,
strong { font-weight: inherit; }

// Correct style set to `bold` in Edge 12+, Safari 6.2+, and Chrome 18+
b,
strong { font-weight: bolder; }

// Correct styling not present in Safari and Chrome
dfn { font-style: italic; }

// Better looking default for <hr>
hr {
  border: 0;
  display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0;
}

// Correct styling in IE 9
mark {
  background-color: #ff0;
  color: #000;
}

// Address issue with em font size rendering
code,
kbd,
samp,
pre {
  font-family: fontStack(monospace);
  font-size: fontSize(normal);
}

// Contain overflow in all browsers
pre { overflow: auto; }

// Correct inconsistent font size in all browsers
small { font-size: fontSize(small); }

// Prevent <sub> and <sup> from affecting line-height in all browsers
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub { bottom: -0.25em; }
sup { top: -0.5em; }

// Correct display for block level HTML5 elements
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary { display: block; }

// Reset margins on <figure> elements
figure { margin: 0; }

// Reset navigation lists
nav ul,
nav ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

// Correct display for inline-block HTML5 elements
audio,
canvas,
progress,
video { display: inline-block; }

// Remove the gap between some inline elements and their containers
audio,
canvas,
iframe,
img,
svg,
video { vertical-align: middle; }

// 1. Prevent browsers from displaying <audio> without controls
// 2. Remove excess height on iOS 5
audio:not([controls]) {
  display: none; // 1
  height: 0; // 2
}

// Remove border when nested in an <a> element in IE 9+
img { border: 0; }

// 1. Maintain aspect ratio when resizing images with height attributes
// 2. Prevent images from exceeding the width of their containers
img {
  height: auto; // 1
  max-width: 100%; // 2
}

// Correct overflow not hidden in IE 9+
svg:not(:root) { overflow: hidden; }

// Reset default <fieldset> styles
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

  // Correct color not being inherited in IE 9+
  legend { border: 0; }

  // 1. Correct color not being inherited on form elements
  // 2. Correct font properties not being inherited on form elements
  // 3. Correct margins for Firefox 4+, Safari, and Chrome
  // 4. Correct cursor change when hovering over disabled form elements
  button,
  input,
  optgroup,
  select,
  textarea {
    color: palette(form); // 1
    font: inherit; // 2
    margin: 0; // 3

    &:disabled,
    &[disabled] { cursor: default; }  // 4
  }

  // Correct overflow set to hidden in IE 9+
  button { overflow: visible; }

  // 1. Correct inability to style clickable input types in iOS
  // 2. Correct inconsistency of cursor style between input types
  button,
  input[type="reset"],
  input[type="submit"] {
    -webkit-appearance: button; // 1
    cursor: pointer; // 2
  }
  
  // Prevent inheritance of text-transform
  select { text-transform: none; }

  // 1. Correct line height on <input> in Firefox 4+
  // 2. Reset padding and border in Firefox 4+
  button,
  input {
    line-height: normal; // 1

    &::-moz-focus-inner {
        border: 0; // 2
        padding: 0;
    }
  }

  // 1. Normalize the color of placeholder text
  // 2. Override opacity being set to 0.54 in Firefox 19
  %placeholderFix {

    $placeholder_color: lighten(palette("form"), 50%);

    &:-ms-input-placeholder { color: $placeholder_color; } // 1
    &:-moz-placeholder { color: $placeholder_color; } // 1
    &::-webkit-input-placeholder { color: $placeholder_color; } // 1

    &::-moz-placeholder {
      color: $placeholder_color; // 1
      opacity: 1; // 2
    }
  }

  input {

    // Remove excess padding in IE 9
    &[type="checkbox"],
    &[type="radio"] { padding: 0; }

    // Correct the cursor style in Chrome
    &[type="number"]::-webkit-inner-spin-button,
    &[type="number"]::-webkit-outer-spin-button { height: auto; }

    // Reset the appearance in Safari and Chrome
    &[type="search"] {
      -webkit-appearance: textfield;

      &::-webkit-search-cancel-button,
      &::-webkit-search-decoration { display: none; }
    }

    @extend %placeholderFix;
  }

  // 1. Remove extra space added by Firefox
  // 2. Remove vertical scrollbar in IE 9+
  // 3. Only allow vertical resizing of <textarea>
  textarea {
    overflow-x: hidden; // 1
    overflow-y: auto; // 2
    resize: vertical; // 3

    @extend %placeholderFix;
  }

  // Prevent inheritance of font-weight for <optgroup>
  optgroup { font-weight: bold; }

// Reset spacing on table cells
table { border-collapse: collapse; }

  td,
  th { padding: 0; }
